[submodule "ft_printf"]
	path = ft_printf
	url = git@github.com:PabloEcsobar/ft_printf.git
[submodule "get_next_line"]
	path = get_next_line
	url = git@github.com:PabloEcsobar/get_next_line.git
[submodule "sorts_alg"]
	path = sorts_alg
	url = git@github.com:PabloEcsobar/sorts_alg.git
[submodule "ft_pow"]
	path = ft_pow
	url = git@github.com:PabloEcsobar/ft_pow.git
